.item-list {
  @import "../../global_partial";

  .margin-right {
    margin-right: $padding-base-vertical;
  }

  .margin-left {
    margin-left: $padding-base-vertical;
  }

  .margin-auto {
    margin: auto;
  }

  .align-center {
    text-align: center;
  }

  .align-left {
    text-align: left;
    margin: 5%;
  }

  .lighter {
    opacity: 0.5;
  }

  h3 {
    margin-left: $padding-base-vertical;
    margin-right: $padding-base-vertical;
  }

  Button {
    float:right;
    margin:$padding-base-vertical;
  }

  .item-line {
    .input-group-addon {
      background-color: transparent;
      border: 0px;
    }

    input[type="checkbox"] {
      font-size: 100px;
    }

    div.completed .line-throughable {
      color: #d9d9d9;
      text-decoration: line-through;
    }

    .width-10 {
      width: 10%;
    }

    .width-20 {
      width: 20%;
    }
    .width-40 {
      width: 40%;
      display: inline-block;
    }

    .width-60 {
      width: 60%;
    }

  }

}

